.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dcf1ea;
}
.signup_form{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.signup_form > input{
    padding: 10px;
    border-radius: 20px;
    border-color: initial;
    border-style: none;
}
.signup_form > button{
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    border-width: 1px;
    width: 80%;
    padding: 10px;
}

/* media queries */
@media screen and (max-width:768px){
    .title{
        display: flex;
        flex-direction: column;
    }
    .title > h1{
        font-size: 150%;
    }
}