.team__card{
    display: flex;
    margin:0 auto;
    padding: 0px;
    background-color: #dcf1ea;
    padding: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 10px;
}
.team> h1{
    text-align: center;
    padding: 20px;
}
.card__image{
    width: 50%;
    justify-content: center;
}
.card__image> img{
   width: 100%;
   padding: 20px; 
   align-items: center;
}
.card__details> h2, p{
    text-align: center;
    padding: 5px;
}
.card__details> ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gt{
    color: rgb(0, 0, 0);
    padding: 20px;
}

/* media queries */
@media screen and (max-width:768px){
    .team__card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 60%;
    }
}